{{ form_start(form) }}
    {{ form_widget(form) }}
   <div class="d-flex justify-content-center items-center">
                    <button type="submit" class="btn btn-info mb-3">{{labelSubmit|default("Valider")}}</button>
                </div>

{{ form_end(form) }}
