{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!
{% endblock %}

{% block body %}

	<style>
		body {
			color: #000;
			overflow-x: hidden;
			height: 100%;
			background-color: #E1BEE7;
			background-repeat: no-repeat
		}

		.card {
			width: 590px;
			border-radius: 10px;
			box-shadow: 0 4px 8px 0 #AA00FF;
			margin-top: 50px;
			margin-bottom: 50px
		}

		.set-p {
			padding-left: 15px;
			padding-right: 15px
		}

		.fa-angle-left,
		.fa-angle-right {
			position: absolute;
			color: #757575;
			font-size: 80px;
			top: 100px;
			cursor: pointer
		}

		#left {
			left: 2%
		}

		#left:hover {
			color: #E0E0E0
		}

		#right {
			right: 2%
		}

		#right:hover {
			color: #E0E0E0
		}

		.image {
			object-fit: cover;
			width: 100%;
			height: 320px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			display: none
		}

		.image.active {
			display: block
		}

		.rating {
			background-color: #3D5AFE;
			color: #fff;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px
		}

		.grade {
			font-size: 18px
		}

		.line {
			height: 1px;
			background-color: #E0E0E0
		}

		.text-sm {
			font-size: 14px
		}
	</style>

	<div class="container-fluid px-4 py-5 mx-auto">
		<div class="row d-flex justify-content-center">
			<div class="card border-0">
				<div class="row set-p justify-content-center">
					<div>
						<img id="first" class="image" src="https://i.imgur.com/3pcJdqF.jpg">
						<img class="image" src="https://i.imgur.com/zFRM6Ww.jpg">
						<img class="image active" src="https://i.imgur.com/oDSYIAB.jpg">
						<img class="image" src="https://i.imgur.com/lfEnSRg.jpg">
						<img id="last" class="image" src="https://i.imgur.com/gl9AZz0.jpg">
					</div>
					<span class="fa fa-angle-left" id="left"></span>
					<span class="fa fa-angle-right" id="right"></span>
					<div class="col-12">
						<div class="row px-3">
							<h3 class="font-weight-bold">{{ sortie.nom }}</h3>
						</div>
						<div class="row px-3">
							<h5 class="mb-1">{{ sortie.infoSortie }}</h5>
						</div>
						<div class="row px-3">
							<p class="mb-4">{{ sortie.infoSortie }}</p>
						</div>
						<div class="line"></div>
						<div class="row px-3 mt-4">
							<h5 class="text-secondary mb-1">Sky Suite</h5>
						</div>
						<div class="row px-3 mb-4">
							<h2 class="text-success mb-1 font-weight-bold">$288<span class="ml-2 text-muted text-sm">+&nbsp; $14 taxes and charges</span>
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
