{% extends 'base.html.twig' %}

{% block title %}Modification de sortie{% endblock %}

{% block body %}
     <h1 class="text-center mt-5 mb-3">Modification sortie</h1>

    {{ include('sortie/_form.html.twig' , {'labelSubmit': 'Modifier'}) }}  


        
    
{% endblock %}
