{% extends 'base.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}

{% block body %}
     <h1 class="text-center mt-5 mb-3">Nouvelle sortie</h1>

    {{ include('sortie/_form.html.twig' , {'labelSubmit': 'Enregistrer' }) }}  


        
    
{% endblock %}
