

{% extends 'base.html.twig' %}

{% block title %}???{% endblock %}

 {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('css/403.css') }}">
{% endblock %}

{% block body %}

<div class="base io"> 
  <h1 class="io">403</h1>
  <h2>Erreur inconnue</h2>
  <h5>(I'm sorry buddy...)</h5>
</div>
{% endblock %}



